<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="https://api.instagram.com/oauth/authorize/?client_id=49542c97f39f4f0da2960c84d3288b4a&redirect_uri=http://localhost:4567/oauth/callback&response_type=code&scope=public_content
">login</a>

</body>
</html>